KunaService/TestApp/Connected Services/KunaServ_1/KunaServise2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.RciveData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.RciveData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51450/KunaServise.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.Enums" />
  <xs:complexType name="TickerLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="at" type="xs:int" />
      <xs:element minOccurs="0" name="ticker" nillable="true" type="tns:Ticker" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TickerLine" nillable="true" type="tns:TickerLine" />
  <xs:complexType name="Ticker">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="buy" type="xs:decimal" />
      <xs:element minOccurs="0" name="high" type="xs:decimal" />
      <xs:element minOccurs="0" name="last" type="xs:decimal" />
      <xs:element minOccurs="0" name="low" type="xs:decimal" />
      <xs:element minOccurs="0" name="sell" type="xs:decimal" />
      <xs:element minOccurs="0" name="vol" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticker" nillable="true" type="tns:Ticker" />
  <xs:complexType name="OrderBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="asks" nillable="true" type="tns:ArrayOfOrder" />
      <xs:element minOccurs="0" name="bids" nillable="true" type="tns:ArrayOfOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderBook" nillable="true" type="tns:OrderBook" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="avg_price" type="xs:decimal" />
      <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="executedVolume" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.Enums" minOccurs="0" name="marketPair" type="q1:MarketPair" />
      <xs:element minOccurs="0" name="orderId" type="xs:unsignedInt" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.Enums" minOccurs="0" name="orderState" type="q2:OrderState" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.Enums" minOccurs="0" name="orderType" type="q3:OrderType" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="remainingVolume" type="xs:decimal" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.Enums" minOccurs="0" name="side" type="q4:OrderSide" />
      <xs:element minOccurs="0" name="tradesCount" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="volume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfTrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Trade" nillable="true" type="tns:Trade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrade" nillable="true" type="tns:ArrayOfTrade" />
  <xs:complexType name="Trade">
    <xs:sequence>
      <xs:element minOccurs="0" name="createdAt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="funds" type="xs:decimal" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.Enums" minOccurs="0" name="marketPair" type="q5:MarketPair" />
      <xs:element minOccurs="0" name="price" type="xs:decimal" />
      <xs:element minOccurs="0" name="tradeId" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="volume" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Trade" nillable="true" type="tns:Trade" />
</xs:schema>