KunaService/TestApp/Connected Services/KunaServ_1/KunaServise.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KunaServise" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51450/KunaServise.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51450/KunaServise.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51450/KunaServise.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.Enums" />
      <xsd:import schemaLocation="http://localhost:51450/KunaServise.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CunaWrapper.DataLevel.RciveData" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKunaServise_GetTimestamp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimestamp" />
  </wsdl:message>
  <wsdl:message name="IKunaServise_GetTimestamp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimestampResponse" />
  </wsdl:message>
  <wsdl:message name="IKunaServise_GetTickerline_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTickerline" />
  </wsdl:message>
  <wsdl:message name="IKunaServise_GetTickerline_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTickerlineResponse" />
  </wsdl:message>
  <wsdl:message name="IKunaServise_GetOrderBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderBook" />
  </wsdl:message>
  <wsdl:message name="IKunaServise_GetOrderBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderBookResponse" />
  </wsdl:message>
  <wsdl:message name="IKunaServise_GetTrade_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrade" />
  </wsdl:message>
  <wsdl:message name="IKunaServise_GetTrade_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTradeResponse" />
  </wsdl:message>
  <wsdl:portType name="IKunaServise">
    <wsdl:operation name="GetTimestamp">
      <wsdl:input wsaw:Action="http://tempuri.org/IKunaServise/GetTimestamp" message="tns:IKunaServise_GetTimestamp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKunaServise/GetTimestampResponse" message="tns:IKunaServise_GetTimestamp_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTickerline">
      <wsdl:input wsaw:Action="http://tempuri.org/IKunaServise/GetTickerline" message="tns:IKunaServise_GetTickerline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKunaServise/GetTickerlineResponse" message="tns:IKunaServise_GetTickerline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IKunaServise/GetOrderBook" message="tns:IKunaServise_GetOrderBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKunaServise/GetOrderBookResponse" message="tns:IKunaServise_GetOrderBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrade">
      <wsdl:input wsaw:Action="http://tempuri.org/IKunaServise/GetTrade" message="tns:IKunaServise_GetTrade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKunaServise/GetTradeResponse" message="tns:IKunaServise_GetTrade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKunaServise" type="tns:IKunaServise">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTimestamp">
      <soap:operation soapAction="http://tempuri.org/IKunaServise/GetTimestamp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTickerline">
      <soap:operation soapAction="http://tempuri.org/IKunaServise/GetTickerline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderBook">
      <soap:operation soapAction="http://tempuri.org/IKunaServise/GetOrderBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrade">
      <soap:operation soapAction="http://tempuri.org/IKunaServise/GetTrade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KunaServise">
    <wsdl:port name="BasicHttpBinding_IKunaServise" binding="tns:BasicHttpBinding_IKunaServise">
      <soap:address location="http://localhost:51450/KunaServise.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>